/*font-family: 'Roboto', sans-serif;*/

* {
    box-sizing: border-box;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

body {
    margin: 0;
    font-family: 'lato', 'sans serif';
    color: #291f1a;
    background: yellow;
    /*background roboczy*/
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    margin: 0;
}

a {
    transition: all .3s;
}

span.text-color {
    color: #1ac056;
    font-weight: 500;
}


/* main nav style START */

nav#menu {
    background: #fff;
    text-align: right;
    position: fixed;
    z-index: 2;
    width: 100%;
}

nav#menu>ul {
    margin: 0;
}

nav#menu>ul>li.menu-item {
    list-style: none;
    display: inline-block;
    padding: 25px;
}

nav#menu>ul>.menu-item a {
    text-decoration: none;
    color: #291f1a;
    font-weight: 300;
    text-transform: lowercase;
}

nav#menu>ul>.menu-item a:hover {
    color: #1ac056;
}


/* main nav style STOP */


/* header style START */

header#main-header {
    position: relative;
    text-align: center;
    background-image: url('../img/header-background.jpg');
    background-position: center;
    height: 90vh;
    background-size: 100%;
}

header#main-header div#header-kontener {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    /*  transform translateY daje w pelni wyrownany element na osi Y (czyli gór-dół)  */
    transform: translateY(-50%);
}

header#main-header h1.main-header-text {
    font-size: 100px;
}

header#main-header h2.main-header-text {
    font-size: 40px;
}


/* header style STOP */


/* about style START */

section#about {
    background-color: #f9fcfe;
    overflow: hidden;
    padding: 30px 80px;
    box-shadow: 0px 11px 41px -1px rgba(0, 0, 0, 0.57);
}

section#about h2 {
    text-align: center;
    margin: 30px;
}

section#about figure.about-container {
    margin: 0;
    width: 50%;
    float: left;
    text-align: center;
}

section#about figure img {
    max-width: 100%;
    max-height: 350px;
    border: 10px solid white;
    border-radius: 10px;
}

section#about div p {
    font-weight: 100;
    line-height: 24px;
}


/* about style STOP */


/* skills style START */

section#skills {
    overflow: hidden;
    text-align: center;
    background-color: white;
}

section#skills h2.skills-header {
    margin: 30px 0 30px 0;
}

section#skills div.skills-icons {
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    padding: 60px;
}

section#skills figure {
    float: left;
    text-align: center;
}

section#skills figcaption {
    padding: 10px;
}


/* skill style STOP */


/* portfolio style START */

section#portfolio {
    background-color: #fff;
}

section#portfolio h2.portfolio-header {
    text-align: center;
}

section#portfolio div {
    width: 33%;
    float: left;
    display: inline-block;
}

section#portfolio div#portfolio-img-1 {
    height: 350px;
    background-image: url(../img/portfolio1.jpg);
    background-size: 100%;
}

section#portfolio div#portfolio-img-2 {
    height: 350px;
    background-image: url(../img/portfolio2.jpg);
    background-size: 100%;
}

section#portfolio div#portfolio-img-big {
    height: 350px;
    background-image: url(../img/portfolio4.jpg);
    background-size: 100%;
}

section#portfolio div#portfolio-img-1 div.portfolio-border{
    width:90%;
    height:90%;
    border:5px solid white;
    float: none;
    left:0;
    right:0;
}

section#portfolio div#portfolio-img-1 div.portfolio-content{
    width:100%;
    height:100%;
    color:#fff;
}

section#portfolio div#portfolio-img-2 div.portfolio-border{
    width:90%;
    height:90%;
    border:5px solid white;
    left:0;
    right:0;
    float:none;
}

section#portfolio div#portfolio-img-2 div.portfolio-content{
    width:100%;
    height:100%;
    color:#fff;
}

section#portfolio div#portfolio-img-big div.portfolio-border{
    width:90%;
    height:90%;
    border:5px solid white;
    left:0;
    right:0;
    float:none;
}

section#portfolio div#portfolio-img-big div.portfolio-content{
    width:100%;
    height:100%;
    color:#fff;
}


/* portfolio style STOP */
